.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 10rem;
    /* border: 1px solid black; */
}

label {
    margin: 10px;
    align-self: flex-start;
}

input {
    border-radius: 5px;
    border: lightgray 1px solid;
    width: 10rem;
}

.submit {
    margin: 10px;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    border: lightgray 1px solid;
    background-color: white;
}


.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-button {
    margin: 10px;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    border: lightgray 1px solid;
    background-color: white;
}

.user-button a {
    text-decoration: none;
    color: black;

}

.user-button:hover {
    background-color: lightgray;
}