.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px red solid;
    background-image: url("../assets/minimal.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 27rem;
}