.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url("../assets/heroimage.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    width: 100%;
    height: 300px;
    border: 1px red solid;
}